.EditProductMain {
  padding: 20px;
  padding-bottom: 25px;
  padding-inline: 35px;
  width: auto;
  margin: 0px 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #5454546d,
    #ffffffff,
    #b8b7b79a
  ) !important;
}
@media (max-width: 700px) {
  .EditProductMain {
    padding-inline: 30px;
  }
}

.custom-multiline-textfield textarea {
  overflow-y: auto; /* important to trigger the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #fafafa95 #31313130; /* Firefox */

  /* Chrome, Edge, Safari */
}

.custom-multiline-textfield textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-multiline-textfield textarea::-webkit-scrollbar-track {
  background: #31313130;
  border-radius: 4px;
}

.custom-multiline-textfield textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 1px solid transparent;
}

.custom-multiline-textfield textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
