.productsHeader {
  display: flex;
  /* border: #000000 solid; */
  color: #5a7174;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#productAddBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #26a5b4, #7387ed96);
  border: none;
  width: 130px;
  height: 50px;
  font-size: 24px;
}

#productAddBtn:hover {
  background: linear-gradient(to right, #26a5b4, #0d30de96);
}

/* --- Product Section Container --- */
.productSection {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
  width: 95vw;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: medium;
  overflow: hidden;
  /* border: #0c8c9a solid; */
}

/* --- Individual Product Card --- */
.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
  margin: 10px;
  scroll-margin-top: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.products:hover {
  transform: translateY(-15px);
  transition-duration: 1s;
  box-shadow: 0px 2px 50px rgba(132, 132, 131, 0.877);
}

.productImage {
  padding-top: 50px;
  width: 110px !important;
  height: 180px !important;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 0.8rem;
  display: block;
}

/* --- Description Scroll --- */
.pDiscription {
  overflow-y: scroll;
  height: 150px;
  background-color: #91919155;
  padding: 10px;
  border-radius: 5px;
  scrollbar-width: 20px;
}

.pDiscription::-webkit-scrollbar {
  width: 5px;
}

.pDiscription::-webkit-scrollbar-track {
  background: #b0afaf;
  border-radius: 0px 5px 5px 0px;
}

.pDiscription::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.pDiscription:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1d9a0cce, #7387ed96);
  border: none;
}

/* --- Body Font --- */
.pBody {
  font-size: 14px;
  font-weight: lighter;
}

/* --- Footer Layout --- */
.pFooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}
.pFooter .button-group {
  display: flex;
  gap: 20px;
}

/* --- footer Buttons --- */

.productBtn {
  width: 50px;
  height: 45px;
  border-radius: 6px;
  padding: 0 !important;
}
.productDeleteBtn svg,
.productEditBtn svg,
.pbtn svg {
  font-size: 25px;
}

.productDeleteBtn {
  background: linear-gradient(to right, #f48804e0, #858fc0c9);
  border: #0c8c9a !important;
}

.productEditBtn {
  background: linear-gradient(to right, #0c8c9a, #858fc0c9);
  border: #0c8c9a !important;
}

.pbtn {
  background: linear-gradient(to right, #1d9a0c, #858fc0c9);
  border: #1d9a0c !important;
}

.productDeleteBtn:hover,
.productEditBtn:hover,
.pbtn:hover {
  transform: scale(1) !important;
}

.productDeleteBtn:active,
.productEditBtn:active,
.pbtn:active {
  transform: scale(0.9) !important;
  transition: transform 0.1s ease !important;
}

/* fro swal Modal*/

.my-swal-popup {
  background: linear-gradient(to right, #acacac, #ffffffff, #b8b7b7);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.my-swal-title {
  font-size: 24px;
  color: #797777;
}

.my-swal-confirm {
  background: linear-gradient(to right, #1d9a0c, #858fc0c9) !important;
  color: white !important;
  border-radius: 5px !important;
}

.my-swal-cancel {
  background: linear-gradient(to right, #ff0000, #858fc0c9) !important;
  color: white !important;
  border-radius: 5px !important;
}
.my-swal-confirm :active {
  transform: translateY(1px) scale(0.9) !important;
}
.my-swal-cancel:active {
  transform: translateY(1px) scale(0.9) !important;
}

.swal-custom-btn {
  background: linear-gradient(to right, #0c8c9a, #858fc0c9) !important;
  color: white !important;
  border: none !important;
}

.swal-custom-btn:active {
  transform: translateY(1px) scale(0.9) !important;
}
/*  Mobile-friendly */
@media (max-width: 700px) {
  .productsHeader {
    display: flex;
    /* border: #000000 solid; */
    color: #5a7174;
    justify-content: space-evenly;
    align-items: center;
  }
  .headerText {
    margin-bottom: 2px;
    font-size: 34px;
  }

  #productAddBtn {
    width: 4.5rem;
    height: 1.8rem;
  }
  .productSection {
    padding-top: 30px;
    margin-top: 0px;
  }

  .products:hover {
    transform: translateY(-15px);
    transition-duration: 1s;
    box-shadow: 0px 2px 10px rgba(75, 75, 74, 0.877);
  }

  .productTitle {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 1.2em;
    display: block;
  }
  .pBody {
    font-size: 12px;
    font-weight: lighter;
  }
  .pFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    padding-top: 1rem !important;
    padding-bottom: 0.8rem !important;
    padding-inline-start: 2rem !important;
  }
  .productPrice {
    padding: 0px !important;
    margin: 0px;
    text-align: center;
    font-size: x-large !important;
    /* border: #0c8c9a solid; */
  }
  .pFooter .button-group {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    /* border: #0c8c9a solid; */
  }
  .productBtn {
    width: 40px;
    height: 35px;
    border-radius: 6px;
    padding: 0 !important;
  }
  .productDeleteBtn svg,
  .productEditBtn svg,
  .pbtn svg {
    font-size: 20px;
  }
}
